<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nuevo Usuario</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Complete el siguiente formulario
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form role="form" method="post" action="@routes.Usuarios.crearUsuario()">
                                        <div class="form-group">
                                            <label>Usuario</label>
                                            <input class="form-control" 
                                            placeholder="Nombre de usuario único" name="username">
                                            <p class="help-block">Este será el usuario que utilizará para loguearse.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Contraseña</label>
                                            <input type="password" class="form-control secret" 
                                            placeholder="Contraseña" name="password">
                                            <p class="help-block">Mínimo de 6 caracteres.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Nombre completo</label>
                                            <input class="form-control" placeholder="Nombre" name="nombre"><input class="form-control" 
                                            placeholder="Apellido" name="apellido">
                                        </div>
                                        <div class="form-group">
                                            <label>DNI</label>
                                            <input class="form-control" 
                                            placeholder="Número de DNI" name="dni">
                                        </div>
                                        <div class="form-group">
                                            <label>Empresa</label>
                                            <input class="form-control" 
                                            placeholder="Nombre de la empresa para la que trabaja" name="empresa">
                                        </div>
                                        <div class="form-group">
                                            <label>RUC</label>
                                            <input class="form-control" 
                                            placeholder="Número RUC de la empresa" name="ruc">
                                        </div>
                                        <div class="form-group">
                                            <label>Tipo de Empresa</label>
                                            <input class="form-control" 
                                            placeholder="Tipo de empresa" name="tipo_empresa">
                                            <p class="help-block">Rubro al cual la empresa esté asociada.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>E-mail</label>
                                            <input class="form-control" 
                                            placeholder="@@" name="email">
                                        </div>
                                        
                                        <button type="submit" class="btn btn-default">Registrarse</button>
                                        <button type="reset" class="btn btn-default">Limpiar campos</button>
                                        
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    <div id="footer">
        <div class="container">
            <p class="muted credit">Heroshi by <a href="http://martinbean.co.uk">Elias Su</a> and <a href="http://ryanfait.com/sticky-footer/">Kenny Tafur</a>.</p>
        </div>
    </div>

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

</body>

</html>