<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroshi</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Validator -->
    <link href="/assets/bvalidator/css/bootstrapValidator.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>
    
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Nuevo Usuario 
                    <a class="navbar-brand pull-right" href="/">
                    <button class="btn btn-success pull-right"><i class="glyphicon glyphicon-chevron-left"></i> Regresar</button></a></h1>
                    
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

    <!-- Flashes -->
    @if(flash.contains("success")) {
        <div class="alert alert-success alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>@flash.get("success")</b>
        </div>
    }
    @if(flash.contains("error")) {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <b>@flash.get("error")</b>
        </div>
    }

                        <div class="panel-heading">
                            Complete el siguiente formulario
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <form id="nuevo" role="form" method="post" action="@routes.Usuarios.crearUsuario()">
                                        <div class="form-group">
                                            <label class="control-label">Usuario</label>
                                            <input class="form-control"placeholder="Nombre de usuario único" name="username" type="username">
                                            <p class="help-block">Este será el usuario que utilizará para loguearse.</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Contraseña</label>
                                            <input type="password" class="form-control secret"placeholder="Contraseña" name="password">
                                            <p class="help-block">Mínimo de 8 caracteres.</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Nombre completo</label>
                                            <input class="form-control" placeholder="Nombre" name="nombre"><input class="form-control" 
                                            placeholder="Apellido" name="apellido">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">DNI</label>
                                            <input class="form-control" 
                                            placeholder="Número de DNI" name="dni">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Empresa</label>
                                            <input class="form-control" 
                                            placeholder="Nombre de la empresa para la que trabaja" name="empresa">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">RUC</label>
                                            <input class="form-control" 
                                            placeholder="Número RUC de la empresa" name="ruc">
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Tipo de Empresa</label>
                                            <input class="form-control" 
                                            placeholder="Tipo de empresa" name="tipo_empresa">
                                            <p class="help-block">Rubro al cual la empresa esté asociada.</p>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">E-mail</label>
                                            <input class="form-control" 
                                            placeholder="@@" name="email">
                                        </div>
                                        
                                        <button type="submit" class="btn btn-primary">Registrarse</button>
                                        <button type="reset" class="btn btn-default">Limpiar campos</button>
                                        
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

@footer()

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Bootstrap Validator -->
    <script src="/assets/bvalidator/js/bootstrapValidator.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

    <!-- Bootstrap Validator js -->
    <script>
        $(document).ready(function() {
    $('#nuevo').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            username: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo nombre de usuario y no puede dejarlo vacío'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: 'El nombre de usuario debe poseer una extensión de mínimo 6 y máximo 30 caracteres'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: 'El nombre de usuario solo puede contener caracteres alfabéticos, numéricos y el guión bajo ("_")'
                    }
                }
            },
            password: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo contraseña y no puede dejarlo vacío'
                    },
                    different: {
                        field: 'username',
                        message: 'La contraseña no puede ser igual a su nombre de usuario'
                    },
                    stringLength: {
                        min: 8,
                        message: 'La contraseña debe poseer una extensión de mínimo 8 caracteres'
                    }
                }
            },
            nombre: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo nombre y no puede dejarlo vacío'
                    }
                }
            },
            apellido: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo apellido y no puede dejarlo vacío'
                    }
                }
            },
            dni: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo DNI y no puede dejarlo vacío'
                    },
                    stringLength: {
                        min: 8,
                        max: 8,
                        message: 'No es un número de DNI válido'
                    }
                }
            },
            empresa: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo empresa y no puede dejarlo vacío'
                    }
                }
            },
            ruc: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo RUC y no puede dejarlo vacío'
                    },
                    stringLength: {
                        min: 11,
                        max: 11,
                        message: 'No es un número de RUC válido'
                    }
                }
            },
            tipo_empresa: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el tipo de empresa y no puede dejarlo vacío'
                    }
                }
            },
            email: {
                validators: {
                    notEmpty: {
                        message: 'Se requiere el campo email y no puede dejarlo vacío'
                    },
                    emailAddress: {
                        message: 'No es una dirección válida de correo'
                    }
                }
            }
        }
        });
    });
    </script>

</body>

</html>