<!-- Modal -->
<div class="modal fade" id="GNU" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                <img src="/assets/images/gplv3-127x51.png" alt="" />
                Licencia GNU-GPL</h4>
            </div>
            <div class="modal-body">
                <p>Este programa es software libre: usted puede redistribuirlo y/o modificarlo bajo los términos de la Licencia Pública General GNU publicada por la Fundación para el Software Libre, ya sea la versión 3 de la Licencia, o (a su elección ) cualquier versión posterior.</p>
                <p>Este programa y la herramientas que se incluyen se distribuyen con la esperanza de que sean útiles, pero SIN NINGUNA GARANTÍA; ni siquiera la garantía implícita de COMERCIALIZACIÓN o IDONEIDAD PARA UN PROPÓSITO PARTICULAR. Vea el la GNU General Public License para más detalles.</p>
                <p>Esta declaración consta como una copia de la Licencia Pública General de GNU y se adjunta en la barra lateral de esta aplicación web. Para mayor información, consulte <a href="http://www.gnu.org/licenses/">http://www.gnu.org/licenses/</a>.</p>
                <p>Copyright &copy; 2007 Free Software Foundation, Inc.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="autores" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                Sobre los autores...</h4>
            </div>
            <div class="modal-body">
                <p>Elias Su.</p>
                <p>Kenny Tafur.</p>
                <p>Heroshi. Proyecto para el curso de Seminario de Tesis II.</p>
                <p>Universidad de Lima, 2014. Todos los derechos bajo licencia GNU reservados &copy;.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="soporte" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                Sobre la herramienta...</h4>
            </div>
            <div class="modal-body">
                <p><b>"Heroshi" es una herramienta de auto-evaluación en procesos ITIL enfocada a empresas Pymes en el ámbito de la Tecnología de la Información.</b></p>
                <p>El objetivo de esta herramienta es que tú, como empresa pequeña, y que brinda diversos servicios de tecnología, pueda adentrarse y conocer sobre el amplio mundo de la Gestión de Servicios. Esto bajo el marco de la más renombrada guía de servicios: ITIL.</p>
                <p>El poder adoptar, adaptar y utilizar las recomendaciones que brinda ITIL a tu empresa te dará una ventaja competitiva a ti y a tu negocio, podrás organizarte de una mejor forma y atenderás a tus clientes bajo los más altos estándares de gestión a nivel mundial.</p>
                <p><b>ITIL no es certificable para empresas</b>, pero es altamente compatible con la certificación <b>ISO 20000</b>, la cual sugerimos revises si te encuentras interesado.</p>
                <p><b>Esta herramienta se completó para el proyecto de Seminario de Tesis II, en la Universidad de Lima</b>. No incluye todos los procesos ITIL, sino que se enfoca en aquellos 3 que inmediatamente generan valor en una empresa Pyme TI. Cualquier persona que desee mejorar esta herramienta es libre de hacerlo, tal y como indica la declaración de licencia GNU. Lo único que te pedimos es que nos menciones (<b>Kenny Tafur y Elías Su</b>) como los autores :).</p>
                <p><i>Lima, 07 de Noviembre del 2014.</i></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<!-- Modal -->
<div class="modal fade" id="iso20k" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">
                ITIL e Iso 20000</h4>
            </div>
            <div class="modal-body">
                <p>ISO 20000 es la norma ISO que certifica un correcto sistema de gestión de servicios TI. ITIL e ISO 20000 son muy compatibles entre sí, esto debido a que ISO 20000 se basa en la versión 2 de ITIL. En la siguiente infografía puedes conocer más sobre el enfoque y la comparación entre ambos.</p>
                <img class="img-responsive" src="/assets/images/itil-vs-iso-20000-pcf.jpg" alt="" />
                <p>Fuente <a href="http://www.nyce.org.mx/blog/comparacion-entre-itil-e-iso-20000-infografia/">http://www.nyce.org.mx/blog/comparacion-entre-itil-e-iso-20000-infografia/</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!-- Navigation -->
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/main">Heroshi v1.0</a>
    </div>
    <!-- /.navbar-header -->
    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-messages">
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                            <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                            <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <strong>John Smith</strong>
                            <span class="pull-right text-muted">
                            <em>Yesterday</em>
                            </span>
                        </div>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>Read All Messages</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-messages -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-tasks">
                <li>
                    <a href="#">
                        <div>
                            <p>
                            <strong>Task 1</strong>
                            <span class="pull-right text-muted">40% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                    <span class="sr-only">40% Complete (success)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                            <strong>Task 2</strong>
                            <span class="pull-right text-muted">20% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%">
                                    <span class="sr-only">20% Complete</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                            <strong>Task 3</strong>
                            <span class="pull-right text-muted">60% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                    <span class="sr-only">60% Complete (warning)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <p>
                            <strong>Task 4</strong>
                            <span class="pull-right text-muted">80% Complete</span>
                            </p>
                            <div class="progress progress-striped active">
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                                    <span class="sr-only">80% Complete (danger)</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Tasks</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-tasks -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-alerts">
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-comment fa-fw"></i> New Comment
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                            <span class="pull-right text-muted small">12 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-envelope fa-fw"></i> Message Sent
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-tasks fa-fw"></i> New Task
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href="#">
                        <div>
                            <i class="fa fa-upload fa-fw"></i> Server Rebooted
                            <span class="pull-right text-muted small">4 minutes ago</span>
                        </div>
                    </a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="text-center" href="#">
                        <strong>See All Alerts</strong>
                        <i class="fa fa-angle-right"></i>
                    </a>
                </li>
            </ul>
            <!-- /.dropdown-alerts -->
        </li>
        <!-- /.dropdown -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="#"><i class="fa fa-user fa-fw"></i> Perfil del Usuario</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Opciones</a>
        </li>
        <li class="divider"></li>
        <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Cerrar sesión</a>
    </li>
</ul>
<!-- /.dropdown-user -->
</li>
<!-- /.dropdown -->
</ul>
<!-- /.navbar-top-links -->

<!-- Sidebar -->
<div class="navbar-default sidebar" role="navigation">
<div class="sidebar-nav navbar-collapse">
<ul class="nav" id="side-menu">
    <li>
        <div class="panel panel-primary">
            <div class="panel-heading">
                Bienvenido, <b><i>@session.get("username").</i></b>
            </div>
        </div>
        <!-- /input-group -->
    </li>
    <li>
        <a class="active" href="/main"><i class="fa fa-dashboard fa-fw"></i> Menú Principal</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Iniciar Evaluación<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/gcs_previo">Gestión del Catálogo de Servicios</a>
            </li>
            <li>
                <a href="/gns_previo">Gestión del Nivel de Servicio</a>
            </li>
            <li>
                <a href="/gin_previo">Gestión de Incidentes</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="/evaluaciones"><i class="fa fa-table fa-fw"></i> Historial</a>
    </li>
    <li>
        <a href="/mapa"><i class="fa fa-sitemap fa-fw"></i> Mapa de Procesos</a>
    </li>
    <li>
        <a href="#"><i class="fa fa-files-o fa-fw"></i> Enciclopedia ITIL<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="/procesos_itil">Procesos ITIL</a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#iso20k">ISO 20000</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
    <li>
        <a href="#"><i class="fa fa-wrench fa-fw"></i> Acerca de...<span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li>
                <a href="#"  data-toggle="modal" data-target="#autores">Autores</a>
            </li>
            <li>
                <a href="#" data-toggle="modal" data-target="#GNU">Licencia GNU</a>
            </li>
            <li>
                <a href="#"  data-toggle="modal" data-target="#soporte">Sobre la Herramienta</a>
            </li>
        </ul>
        <!-- /.nav-second-level -->
    </li>
</ul>

</div>
<!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->
</nav>