@(usuario: Usuario)
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Heroshi</title>

    <!-- Bootstrap Core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/assets/css/plugins/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/assets/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/assets/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Bootstrap Validator -->
    <link href="/assets/bvalidator/css/bootstrapValidator.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">

       @navigation()

        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                    <i class="glyphicon glyphicon-list-alt"></i>
                    Cuestionario: Gestión del Nivel de Servicio</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-9">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p class="lead"><i class="glyphicon glyphicon-info-sign" title="Información"></i> El principal objetivo de la Gestión del Nivel de Servicios es buscar un compromiso realista entre las necesidades y expectativas del cliente y los costes de los servicios asociados, de forma que estos sean asumibles tanto por el cliente como por tu empresa. El documento principal en este proceso es el "Acuerdo de Nivel de Servicios" (Service Level Agreement).</p>
                            <p class="lead">A continuación se realizan una serie de preguntas enfocadas a determinar en que nivel se encuentra tu proceso de Gestión de Nivel de Servicios. Responde todas las preguntas y cuando estes listo dale click a "Finalizar".</p>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-8">
                                    <form id="gns" role="form" method="post" action="/gns_e">
                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM01. Nivel de Documentación</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Estas preguntas están enfocadas en determinar si tus servicios están cubiertos por algún tipo de documentación que define un nivel esperado por tus cleientes.</b></p>
                                        <legend class="h5"></legend>
                                    
                                        <!-- Pregunta 1 -->
                                        <div class="form-group">
                                            <label>Pregunta 1. Marca los servicios que se ofrecen en tu empresa (para clientes externos)</label>
                                            <!-- col1 -->
                                            @if(usuario.getTipo_servicio_1 == "Software de Base y Aplicaciones" || usuario.getTipo_servicio_2 == "Software de Base y Aplicaciones"){
                                            <legend class="h5"><i>Servicios que provees en rubro: Software de Base</i></legend>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Sistemas Operativos
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Aplicaciones de Oficina
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Aplicaciones de desarrollo y reporte
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Aplicaciones de comunicación y colaboración
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Servidores de aplicaciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Herramientas de business intelligence
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">RDBMS/DBMS
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Aplicativos de Gestión
                                                </label>
                                            </div>
                                            <br>
                                            <!-- col2 -->
                                            <legend class="h5"><i>Servicios que provees en rubro: Aplicaciones</i></legend>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Enterprise Resource Planning (ERP)/Gestión de negocios
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Customer Relationship Management (CRM)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">SLM/Logística/MRP/Operaciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Seguridad (de aplicaciones)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Almacenamiento
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Portales
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Comercio Electrónico
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Workflow
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Knowledge Management
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Document Management
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Content Management
                                                </label>
                                            </div>
                                            <br>
                                            }
                                            @if(usuario.getTipo_servicio_1 == "Consultoría y Servicios de TI" || usuario.getTipo_servicio_2 == "Consultoría y Servicios de TI"){
                                            <!-- col3 -->
                                            <legend class="h5"><i>Servicios que provees en rubro: Consultoría y Servicios de TI</i></legend>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Consultoría y planeamiento TI
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Integración de Sistemas
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Desarrollo de aplicaciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Instalación e implementación de software nuevo
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Mantenimiento/soporte/servicio técnico
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Arrendamiento
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Data Center
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Comunicaciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Administración
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Seguridad (de servicios)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Recuperación de desastres/Continuidad de negocio
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Procesamiento
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="numero_servicios">Digitalización/documentos
                                                </label>
                                            </div>
                                            <br>
                                            }
                                        </div>
                                        <br>

                                        <!-- Pregunta 2 -->
                                        <div class="form-group">
                                            <label>Pregunta 2. ¿Dónde se encuentran las condiciones de entrega del servicio acordadas con el cliente?</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="0" name="doc_condiciones">No se especifican
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="25" name="doc_condiciones">Vía Telefónica/Conversación presencial
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="50" name="doc_condiciones">Contratos
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="100" name="doc_condiciones">Documento formal de Acuerdo de Nivel de Servicio
                                                </label>
                                            </div>
                                        </div>
                                        <br>

                                        <!-- Pregunta 3 -->
                                        <div class="form-group">
                                            <label>Pregunta 3. ¿De los servicios antes mencionados, cuántos cuentan con un Acuerdo de Nivel de Servicios (SLA)?</label>
                                            <div class="form-group">
                                                <label class="control-label pull-left">Número de Servicios:</label>
                                                <div class="col-md-3 inputContainer">
                                                    <input class="form-control inline" name="numero_sla" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div>
                                        </div></div>
                                        <br>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM02. Repositorio de Información</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Es importante conocer dónde y cómo mantienes la información de documentación de cada servicio, ésto impacta en la accesibilidad y disponibilidad del recurso.</b></p>
                                        <legend class="h5"></legend>
                                    
                                        <!-- Pregunta 4 -->
                                        <div class="form-group">
                                            <label>Pregunta 4. ¿Cómo almacenas ésta documentación?</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="0" name="tipo_almacen">Ningún lugar
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="25" name="tipo_almacen">Carpeta Local
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="25" name="tipo_almacen">Bitácora/Folder (Físico)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="50" name="tipo_almacen">Carpeta Compartida (PC)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="75" name="tipo_almacen">Herramienta de Repositorio Compartida
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="100" name="tipo_almacen">En la Nube/Cloud (compartida)
                                                </label>
                                            </div>
                                        </div>
                                        </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM03. Detalle de la documentación SLA (mejor documentado)</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Para determinar con que campos cumple tu servicio mejor documentado respecto a SLAs.</b></p>
                                        <legend class="h5"></legend>

                                        <!-- Pregunta 5 -->
                                        <div class="form-group">
                                            <label>Pregunta 5. En base al servicio con el SLA más completo (a tu criterio), ¿cuáles de los siguientes campos contempla?</label>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Representantes de partes interesadas (clientes y proveedor)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Breve descripción del servicio
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Contactos para la resolución ante algún incidente
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Indicadores y/o tiempos de resolución ante algún incidente
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Periodo de aplicabilidad/Periodo de revisión
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Alcance del SLA/Restricciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Horarios de operación (Lunes a viernes, 24x7, etc.)
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Responsabilidades
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Penalizaciones/condiciones
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="1" name="doc_completo">Referencias (catálogo de servicios, contratos, etc.)
                                                </label>
                                            </div>
                                        </div>
                                        </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM04. Detalle de la documentación (todos)</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Para determinar cuántos de tus servicios cuentan con los campos que indicaste anteriormente en sus SLA.</b></p>
                                        <legend class="h5"></legend>

                                        <!-- Pregunta 6 -->
                                        <div class="form-group">
                                            <label>Pregunta 6. ¿Cuantos de los SLAs de los servicios que brindas cumplen con todos los campos de la pregunta anterior?</label>
                                            <div class="form-group">
                                                <label class="control-label pull-left">Número de Servicios:</label>
                                                <div class="col-md-3 inputContainer inline">
                                                    <input class="form-control" name="numero_cumplen" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div>
                                        </div></div>
                                        <br>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM05. Periodicidad de Revisión</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>La importancia de estas preguntas recae en la frecuencia y cantidad de servicios, tanto para correcciones o actualizaciones en la información.</b></p>
                                        <legend class="h5"></legend>

                                        <!-- Pregunta 7 -->
                                        <div class="form-group">
                                            <label>Pregunta 7. ¿Cada cuanto se realiza una revisión general de la documentación de los servicios?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="0" name="periodicidad">Nunca
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="50" name="periodicidad">Cada 1 a 2 años
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="100" name="periodicidad">Al menos una vez al año
                                                </label>
                                            </div>
                                        </div>
                                        <!-- Pregunta 8 -->
                                        <div class="form-group">
                                            <label>Pregunta 8. ¿Cuántos de los SLAs son revisados durante esta actividad?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="0" name="num_revisados">Ninguno
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="33" name="num_revisados">Algunos (1/3 del total)
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="66" name="num_revisados">La mayoría (2/3 del total)
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="100" name="num_revisados">Todos
                                                </label>
                                            </div>
                                        </div>
                                        </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM06. Cumplimiento de condiciones</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Mediante esta pregunta se logra determinar en qué medida se están cumpliendo las condiciones de servicio establecidas en tus SLAs.</b></p>
                                        <legend class="h5"></legend>
                                    
                                        <!-- Pregunta 9 -->
                                        <div class="form-group">
                                            <label>Pregunta 9. En base a los incidentes reportados de tus servicios, indica ¿Cuántos se han cumplido completamente, parcialmente o no se han cumplido?</label>
                                            <div class="form-group">
                                                <div class="col-lg-4">
                                                    <label class="control-label pull-left">Totalmente:</label>
                                                </div>
                                                <div class="col-lg-6 inputContainer">
                                                    <input class="form-control inline" name="cum_totalmente" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="control-label pull-left">Parcialmente:</label>
                                                </div>
                                                <div class="col-lg-6 inputContainer">
                                                    <input class="form-control inline" name="cum_parcialmente" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                                <div class="col-lg-4">
                                                    <label class="control-label pull-left">No se han cumplido:</label>
                                                </div>
                                                <div class="col-lg-6 inputContainer">
                                                    <input class="form-control inline" name="cum_no" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM07. Evaluación por Reportes/Información</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Mediante esta pregunta se determina si se estan generando reportes o informacion relevante para la evaluacion del servicio por parte del cliente.</b></p>
                                        <legend class="h5"></legend>
                                    
                                        <!-- Pregunta 10 -->
                                        <div class="form-group">
                                            <label>Pregunta 10. ¿Se está informando y confirmando de alguna manera el estado del servicio brindado?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="1" name="informando_estado">Sí
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="0" name="informando_estado">No
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Pregunta 11 -->
                                        <div class="form-group">
                                            <label>Pregunta 11. ¿Cuántos servicios o proyectos en curso tienes?</label>
                                            <div class="form-group">
                                                <div class="col-lg-2">
                                                    <label class="control-label pull-left">Número:</label>
                                                </div>
                                                <div class="col-md-6 inputContainer">
                                                    <input class="form-control inline" name="num_proy" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div><br>

                                        <!-- Pregunta 12 -->
                                        <div class="form-group">
                                            <label>Pregunta 12. ¿Cómo se está informando (marcar si aplica) y a cuántos se les está informando, según el tipo (servicios inmediatos: instalaciones; servicios continuos: soporte técnico; proyectos: desarrollo de aplicaciones)?</label>
                                            <div class="form-group">
                                                <div class="col-lg-8">
                                                    <label class="control-label pull-left">Servicios inmediatos: actas de conformidad o entrega de servicios</label>
                                                </div>
                                                <div class="col-md-12 inputContainer">
                                                    <input class="form-control inline" name="num_ser_inm" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-8">
                                                    <label class="control-label pull-left">Entregables de proyectos: actas de reunión, plan de pruebas, etc.</label>
                                                </div>
                                                <div class="col-md-12 inputContainer">
                                                    <input class="form-control inline" name="num_ser_ent" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-8">
                                                    <label class="control-label pull-left">Servicios continuos: Reportes de rendimiento, incidentes o cambios
                                                </label>
                                                </div>
                                                <div class="col-md-12 inputContainer">
                                                    <input class="form-control inline" name="num_ser_con" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-lg-8">
                                                    <label class="control-label pull-left">Solo via telefonica o correo electronico simple (cualquier tipo)
                                                </label>
                                                </div>
                                                <div class="col-md-12 inputContainer">
                                                    <input class="form-control inline" name="num_ser_tel" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div>

                                    </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM08. Gestión de requisitos de nivel de servicios (SLR)</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Mediante esta pregunta se determina como se estan identificando o gestionando los nuevos requisitos de nivel de servicio por parte de los clientes    
                                        .</b></p>
                                        <legend class="h5"></legend>
                                    
                                        <!-- Pregunta 13 -->
                                        <div class="form-group">
                                            <label>Pregunta 13. ¿En cuantos servicios o proyectos (al momento de renovar el contrato del servicio o al termino del servicio) el cliente evalúa el nivel de servicio?
                                            </label>
                                            <div class="form-group">
                                                <label class="control-label pull-left">Número:</label>
                                                <div class="col-md-3 inputContainer">
                                                    <input class="form-control inline" name="num_evalua" type="number" data-bv-integer-message="Ingrese un valor entero." />
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Pregunta 14 -->
                                        <div class="form-group">
                                            <label>Pregunta 14. ¿Se está identificando nuevos requisitos en el nivel de servicio en base a las opiniones y comentarios de clientes?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="1" name="nuevos_requisitos">Sí
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="2" name="nuevos_requisitos">No
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Pregunta 15 -->
                                        <div class="form-group">
                                            <label>Pregunta 15. ¿Se está añadiendo estos requerimientos en nuevos SLAs?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="1" name="nuevos_add">Sí
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="2" name="nuevos_add">No
                                                </label>
                                            </div>
                                        </div>

                                    </div></div>

                                    <!-- Titulo sección -->
                                    <div class="panel panel-info">
                                    <div class="panel-heading"><b>SLM09. Responsable del Nivel de Servicio (SLR)</b>
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Mediante esta pregunta se determina como se estan identificando o gestionando los nuevos requisitos de nivel de servicio por parte de los clientes    
                                        .</b></p>
                                        <legend class="h5"></legend>
                                                                            
                                        <!-- Pregunta 16 -->
                                        <div class="form-group">
                                            <label>Pregunta 16. ¿Quién administra la documentación de los servicios?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="0" name="resp_doc">Nadie
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="50" name="resp_doc">Cada responsable técnico elabora su propia documentación
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="100" name="resp_doc">El jefe/gerente recopila toda la documentación
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Pregunta 17 -->
                                        <div class="form-group">
                                            <label>Pregunta 17. ¿El responsable convoca a reuniones para la revisión de la documentación?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="1" name="resp_reu">No
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="50" name="resp_reu">A veces
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="100" name="resp_reu">Sí
                                                </label>
                                            </div>
                                        </div>

                                        <!-- Pregunta 18 -->
                                        <div class="form-group">
                                            <label>Pregunta 18. ¿El responsable mantiene actualizada esta información en algún tipo de repositorio (fisico o digital)?</label>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="1" name="resp_act">No
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="50" name="resp_act">A veces
                                                </label>
                                            </div>
                                            <div class="radio">
                                                <label>
                                                    <input type="radio" value="100" name="resp_act">Sí
                                                </label>
                                            </div>
                                        </div>

                                    </div></div>
                                    
                                    <div class="text-center">
                                        <button type="button" class="btn btn-primary">Siguiente Pregunta <i class="glyphicon glyphicon-chevron-right"></i></button>
                                        <button type="submit" class="btn btn-success">Finalizar <i class="glyphicon glyphicon-ok"></i></button>
                                        <a class="active" href="/main"><button type="button" class="btn btn-default btn-danger">Terminar Evaluación <i class="glyphicon glyphicon-remove"></i></button></a>
                                    </div>
                                        
                                    </form>
                                </div>
                                
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    @footer()

    <!-- jQuery Version 1.11.0 -->
    <script src="/assets/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Bootstrap Validator -->
    <script src="/assets/bvalidator/js/bootstrapValidator.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/assets/js/plugins/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/assets/js/sb-admin-2.js"></script>

    <!-- Bootstrap Validator js -->
    <script>
        $(document).ready(function() {
    $('#gns').bootstrapValidator({
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            numero_servicios: {
                validators: {
                    notEmpty: {
                        message: 'Seleccione al menos 1 opción.'
                    }
                }
            },
            doc_condiciones: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            numero_sla: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            tipo_almacen: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            doc_completo: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            numero_cumplen: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            periodicidad: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            num_revisados: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            cum_totalmente: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            cum_parcialmente: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            cum_no: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            informando_estado: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            num_proy: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            num_ser_inm: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            num_ser_ent: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            num_ser_con: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            num_ser_tel: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            num_evalua: {
                validators: {
                    notEmpty: {
                        message: 'Ingrese un valor.'
                    },
                    greaterThan: {
                        value: 0, 
                        message: 'Valor no válido.'
                    }
                }
            },
            nuevos_requisitos: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            nuevos_add: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            resp_doc: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            resp_reu: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            },
            resp_act: {
                validators: {
                    notEmpty: {
                        message: 'Elija una opción.'
                    }
                }
            }
        }
        });
    });
    </script>


</body>

</html>